services:
  pip-compile:
    entrypoint:
      - /home/python/venv/bin/pip-compile
    image: ghcr.io/williamjacksn/pip-tools:py3.12
    init: true
    volumes:
      - ./:/home/python/docker-lilypond
    working_dir: /home/python/docker-lilypond

  shell:
    build: .
    entrypoint:
      - /bin/bash
    image: ghcr.io/williamjacksn/lilypond
    volumes:
      - ./:/home/python/docker-lilypond
    working_dir: /home/python/docker-lilypond
